{% extends 'base.html.twig' %}

{% block title %}Modifier une Recette
{% endblock %}

{% block body %}
	<div class="formulaire-ajout-recette carte">
		<h2 class="text-center mt-2">Modifier une recette</h2>

		<div class="my-4">
			{{ form_start(form, {'method': 'POST', 'action': path('recette_edit', { 'id': recette.id })}) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn text-dark mt-3">Modifier</button>

			<a href="{{ path('recette_index') }}" class="btn text-dark mt-3">Retour</a>

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}

