{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<div class="formulaire-connexion carte mb-4">
		<h3 class="mb-5 text-center">Créer une catégorie</h3>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn mt-3">Créer</button>
		{{ form_end(form) }}

		<a href="{{ path('category_index') }}" class="btn mt-3">Retour</a>
	</div>


{% endblock %}
