<footer class=" container card my-2">
	<div class="container text-center mt-3">
		<div class="mb-2">
			<a class="btn social-media btn-lg m-1" href="https://www.facebook.com/share/165k6nw651/">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a class="btn social-media btn-lg m-1" href="https://www.linkedin.com/feed/" role="button">
				<i class="fab fa-linkedin"></i>
			</a>
			<a class="btn social-media btn-lg m-1" href="#!" role="button">
				<i class="fab fa-twitter"></i>
			</a>
			<a class="btn social-media btn-lg m-1" href="#!" role="button">
				<i class="fab fa-instagram"></i>
			</a>
			<a class="btn social-media btn-lg m-1" href="https://github.com/onjahasn" role="button">
				<i class="fab fa-github"></i>
			</a>
		</div>
	</div>
	<div>
		<p class="text-center">© 2024 Company, Inc. All rights reserved.</p>
	</div>
</footer>
